.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  min-height: 100vh;
  background: url(http://www.script-tutorials.com/demos/360/images/stars.png)
    top center #000;
}
.navButton {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid yellow;
  color: yellow;
  text-shadow: 1px 1px 1px black;
  animation: blink 1s ease infinite;
  margin-left: auto;
  margin-right: auto;
}

.description {
  height: 100%;
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}
.starWars {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  perspective: 100px;
  text-align: justify;
}

.crawl {
  transform-origin: bottom;
  width: 90%;
  animation: crawl 80s linear forwards; /* velocidad del texto */
}

.crawl > .title {
  font-size: 90%;
  text-align: center;
}

.crawl > .title h1 {
  margin: 0 0 100px;
  text-transform: uppercase;
}

@keyframes crawl {
  0% {
    transform: rotateX(20deg) translateY(100%);
  }
  100% {
    transform: rotateX(25deg) translateY(-100%);
    /* OR
    transform:rotateX(25deg) translateY(0%);
    if you want the text to stop at the bottom
    */
  }
}

@keyframes blink {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
